// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  z-index:10;
}

// Styling on warning for users on IE7 or below
.browsehappy {
  text-align: center;
  margin: 0;
  color: var(--black);
  padding: 0.5em 0;
}




/*------------------------------------*\
	General styles
\*------------------------------------*/
@import 'variables';

html{
  scroll-behavior: smooth;
}

body{
  color: var(--gray);
  font-family: 'Montserrat', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  //background-image: linear-gradient(#35a9ee, #d9658c);
  main{
    background-color: var(--red);
  }
  
}

// .g-background{
//   background-image: linear-gradient(#35a9ee, #d9658c);
// }

#content{
  background-color: --var(red)!important;
}

/* Visually hidden class */
.cloak {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.no-scroll {
	height: 100%;
	overflow: hidden;
}

h2, h3, h4{
  text-align: center;

  @media (max-width: $m768) {
    text-align: left;
  }
}

h2{
  font-size: 40px;
  font-weight: 800;
  letter-spacing: -1px;

  @media (max-width: $m768) {
    font-size: 28px;
  }
}

h3{
  font-size: 30px;
  font-weight: 800;

  @media (max-width: $m768) {
    font-size: 20px;
  }
}



a{
  text-decoration: none;
}

strong{
  font-weight: 600;
}

.cta{
  border-radius: 5px;
  background-color: #bce7f8;
  background-image: linear-gradient(290deg, #94f0fe, #18b3f5);

  &:hover{
    background-image: linear-gradient(290deg, rgba(#94f0fe, 0), rgba(#18b3f5, 0));
  }
}

@media (max-width: $m768) {
  img{
    width: 100%;
  }
}





/*------------------------------------*\
	Wrappers
\*------------------------------------*/
.wrapper{
  width: 90%;
  max-width: 1600px;
  margin: auto;
}

.zone{
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  &-header{
    padding-top: 0;
    position: relative;
    z-index: 40;
  }
  &-key{
    padding-top: 0;
    position: relative;
    padding-top: 10vh;
    background-color: #fff;
  }

  @media (max-width: $m1200) {
    &-key{
      
    }
  }

  @media (max-width: $m768) {
    padding-top: 40px;

    &-header{
      padding-top: 0;
    }
  }

  @media (max-width: 480px) {
    margin-top: 15px;
  }
}




/*------------------------------------*\
	Modules
\*------------------------------------*/

@import '../_modules/header/header';
@import '../_modules/hero/hero';
@import '../_modules/nav/nav';
@import 'slick';
@import 'sandbox';
@import 'key';
@import 'video';
 @import 'proposals';
@import 'funds';
@import 'experience';
@import 'videoMarket';
@import 'roadmap';
@import 'team';
@import 'subscribe';
@import 'partners';
@import 'coinprice';
@import 'press';
@import 'tokeneco';
@import 'sandtoken';
@import 'pricegrowth';



@import '../_modules/footer/footer';

@font-face {
  font-family: 'DIN';
  src: local("DIN Regular"), local("DIN-Regular"),
  url("../images/fonts/din/DIN-Regular.ttf'") format("truetype");
}



/*------------------------------------*\
	Cards
\*------------------------------------*/
.card{
  &-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 96px;
    grid-row-gap: 48px;
  }
  &-item{
    flex-grow: 1;
    text-align: center;
  }

  .sandbox &-list{
    margin-bottom: 88px;
  }

  @media (max-width: $m1200) {
    &-list{
      grid-template-columns: 1fr;
      width: 90%;
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

main{
  background-color: --var(red);
}

// Box sizing partial styles:
// Apply a natural box layout model to all elements
$color_1: #FFF;
$color_2: #555;
$color_3: #1ABC9C;
$color_4: #222;
$color_5: #444;
$color_6: white;
$font_family_1: 'Lato', sans-serif;
$font_family_2: 'Raleway', sans-serif;
$background_color_1: #FFF;

/* ----------------------------------------------------------------
  Typography
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
  Basic Layout Styles
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
  Helper Classes
-----------------------------------------------------------------*/
/* Icon Size - Extra Large
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
  Counter
-----------------------------------------------------------------*/
